* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.landing-page_container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: url(../../assets/img/landing-background.jpg) 0/cover;
}
.landing-page_container #login:checked ~ .landing-page-info .landing-page_switches .btn1 {
  background-color: #fff;
  color: #333;
}
.landing-page_container #login:checked ~ .landing-page-forms .form-login-register:nth-child(2) {
  translate: 250px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: 0;
}
.landing-page_container #register:checked ~ .landing-page-forms .form-login-register:nth-child(1) {
  translate: 250px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: 0;
}
.landing-page_container #register:checked ~ .landing-page-info .landing-page_switches .btn2 {
  background-color: #fff;
  color: #333;
}
.landing-page_container .landing-page_right__decoration {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 150%;
  translate: 56% -15%;
  background-color: #fff;
  background-image: url(../../assets/img/dot-texture.png);
  clip-path: circle();
  pointer-events: none;
}
.landing-page_container .landing-page-info {
  position: absolute;
  width: 600px;
  top: 15%;
  left: 10%;
}
.landing-page_container .landing-page-info .landing-page-info__logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.landing-page_container .landing-page-info .landing-page-info_welcome {
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 15px;
  color: #fff;
  font-weight: 500;
}
.landing-page_container .landing-page-info .landing-page-info_title {
  text-align: center;
  font-size: 10rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  color: #fff;
  margin-top: -35px;
}
.landing-page_container .landing-page-info .landing-page-desc {
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 500;
}
.landing-page_container .landing-page-info .landing-page_switches {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.landing-page_container .landing-page-info .landing-page_switches .btn1 {
  border: 1px solid #fff;
  outline: none;
  padding: 15px 69px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.landing-page_container .landing-page-info .landing-page_switches .btn2 {
  border: 1px solid #fff;
  outline: none;
  padding: 15px 69px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.landing-page_container .landing-page-info .landing-page_switches .btn2 input:checked {
  background-color: #fff;
  color: #333;
}
.landing-page_container .landing-page-forms {
  height: 100%;
  width: 500px;
  position: absolute;
  top: 0;
  right: 15%;
}
.landing-page_container .landing-page-forms .confirmation {
  font-size: 1.4rem;
  margin-top: 30px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
}
.landing-page_container .landing-page-forms .confirmation a {
  font-weight: 700;
  text-decoration: none;
  color: #23d2e2;
}
.landing-page_container .landing-page-forms .form-login-register:nth-child(2) {
  position: absolute;
  z-index: 2;
  opacity: 1;
  height: 722px;
  transition: all 0.5s ease-in-out;
}
.landing-page_container .landing-page-forms .form-login-register:nth-child(2) img {
  position: absolute;
  top: -75px;
}
.landing-page_container .landing-page-forms .form-login-register {
  transition: all 0.5s ease-in-out;
  position: relative;
  z-index: 3;
  top: 20%;
  width: 100%;
  padding: 60px;
  height: 666px;
  background-color: #fff;
  box-shadow: 2px 2px 10px #ccc;
  border-radius: 5px;
}
.landing-page_container .landing-page-forms .form-login-register img {
  position: absolute;
  top: -75px;
  left: -75px;
}
.landing-page_container .landing-page-forms .form-login-register .login-title {
  font-family: Rajdhani, sans-serif;
  color: #3e3f5e;
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 50px;
}
.landing-page_container .landing-page-forms .form-login-register .form .form-row .form-item {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  font-family: Rajdhani, sans-serif;
  font-weight: 600;
}
.landing-page_container .landing-page-forms .form-login-register .form .form-row .form-item a {
  align-self: center;
  text-decoration: none;
  font-family: Rajdhani, sans-serif;
  font-weight: 600;
  color: #aaa;
}
.landing-page_container .landing-page-forms .form-login-register .form .form-row .form-item button {
  margin-top: 35px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #ccc;
  background-color: #615dfa;
  color: #fff;
  font-family: Rajdhani, sans-serif;
  font-weight: 600;
}
.landing-page_container .landing-page-forms .form-login-register .form .form-row .form-item .checkbox-container {
  display: flex;
  height: 25px;
  align-items: center;
  position: relative;
}
.landing-page_container .landing-page-forms .form-login-register .form .form-row .form-item .checkbox-container input[type=checkbox]:checked + .custom-checkbox > .Xmark {
  display: inline-block;
}
.landing-page_container .landing-page-forms .form-login-register .form .form-row .form-item .checkbox-container .custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.landing-page_container .landing-page-forms .form-login-register .form .form-row .form-item .checkbox-container .custom-checkbox .Xmark {
  border-radius: 5px;
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 1.8rem;
  background-color: #23d2e2;
  color: #fff;
  display: none;
}
.landing-page_container .landing-page-forms .form-login-register .form .form-row .form-item .checkbox-container label {
  font-family: Rajdhani, sans-serif;
  margin-left: 35px;
  color: #666;
  cursor: pointer;
}
.landing-page_container .landing-page-forms .form-login-register .form .form-row .form-item .form-input {
  width: 100%;
  display: flex;
  padding-bottom: 30px;
  margin: auto;
  position: relative;
}
.landing-page_container .landing-page-forms .form-login-register .form .form-row .form-item .form-input label {
  top: 15px;
  left: 15px;
  position: absolute;
  font-family: Rajdhani, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ccc;
  background-color: #fff;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  border: 3px solid #fff;
}
.landing-page_container .landing-page-forms .form-login-register .form .form-row .form-item .form-input input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px 15px;
  border-radius: 10px;
}
.landing-page_container .landing-page-forms .form-login-register .form .form-row .form-item .form-input input:focus {
  border-color: #615dfa;
}
.landing-page_container .landing-page-forms .form-login-register .form .form-row .form-item .form-input input:focus + label {
  top: -10px;
  font-size: 1.3rem;
}
.landing-page_container .landing-page-forms .form-login-register .form .form-row .form-item .form-input input:not(:focus):valid + label {
  top: -10px;
  font-size: 1.3rem;
}
.landing-page_container .landing-page-forms .form-login-register .social-account_links {
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
}
.landing-page_container .landing-page-forms .form-login-register .social-account_links > a i {
  transition: all 0.2s ease-in-out;
  margin: 0 5px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.landing-page_container .landing-page-forms .form-login-register .social-account_links > a i:hover {
  translate: 0 -4px;
}
.landing-page_container .landing-page-forms .form-login-register .social-account_links > a i.fa-facebook {
  color: #fff;
  background-color: #3763d2;
}
.landing-page_container .landing-page-forms .form-login-register .social-account_links > a i.fa-twitter {
  color: #fff;
  background-color: #1abcff;
}
.landing-page_container .landing-page-forms .form-login-register .social-account_links > a i.fa-twitch {
  color: #fff;
  background-color: #7b5dfa;
}
.landing-page_container .landing-page-forms .form-login-register .social-account_links > a i.fa-youtube {
  color: #fff;
  background: #fd434f;
}
.landing-page_container .landing-page-forms .form-login-register .social-account-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  font-family: Rajdhani, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: #3e3f5e;
}
.landing-page_container .landing-page-forms .form-login-register .social-account-login::after {
  content: "";
  display: inline-block;
  width: 69px;
  height: 1px;
  background-color: #ccc;
}
.landing-page_container .landing-page-forms .form-login-register .social-account-login::before {
  content: "";
  display: inline-block;
  width: 69px;
  height: 1px;
  background-color: #ccc;
}

@media only screen and (max-width: 1500px) {
  .landing-page_right__decoration {
    display: none;
  }
  .landing-page-info {
    left: 6% !important;
  }
  .landing-page-forms {
    right: 6% !important;
  }
}
@media screen and (max-width: 1365px) {
  .landing-page_container {
    position: static;
    padding: 80px 0;
  }
  .landing-page-desc {
    position: static;
    display: none;
  }
  .landing-page-info {
    position: static !important;
    margin: 0 auto;
  }
  .form-login-register img {
    display: none;
  }
  .landing-page_switches {
    margin-top: 0 !important;
  }
  .landing-page-forms {
    position: static !important;
    margin: 33px auto;
  }
  .form-login-register:nth-child(2) {
    position: static !important;
  }
  #login:checked ~ .landing-page-forms .form-login-register:nth-child(2) {
    display: none;
  }
  #register:checked ~ .landing-page-forms .form-login-register:nth-child(1) {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .form-login-register {
    width: 103% !important;
    margin: 0 auto;
  }
  .landing-page-info {
    width: 100% !important;
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .form-login-register {
    width: 90% !important;
    margin: 0 auto;
  }
  .landing-page-info {
    width: 100% !important;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=styles.css.map */
