* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display        : flex;
    align-items    : center;
    background     : #8758ff;
    justify-content: center;
}

.app {
    text-align: center;
}

.todo-wrapper {
    background   : #1a1a40;
    border-radius: 5px;
    margin-top   : 5rem;
    padding      : 2rem;
}

h1 {
    color        : #fff;
    font-size    : 1.75rem;
    margin-bottom: 0.5rem;
}

.todo-form {
    width: 100%;
}

.todo-form .todo-input {
    background   : none;
    border       : 1px solid #8758ff;
    color        : #fff;
    margin-bottom: 2rem;
    margin-top   : 1rem;
    outline      : none;
    padding      : 0.5rem 1rem;
    width        : 300px;
}

.todo-form .todo-btn {
    background: #8758ff;
    color     : #fff;
    cursor    : pointer;
    border    : none;
    padding   : 0.55rem;
}

.todo {
    user-select    : none;
    align-items    : center;
    border-radius  : 5px;
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 1rem;
    padding        : 0.75rem 1rem;
    background     : #8758ff;
    color          : #fff;
    cursor         : pointer;
}

i {
    margin-right: 10px;
    font-size   : 1.1rem;
}

.fa-trash-can {
    margin-right: -5px;
}

.done {
    text-decoration: line-through;
}