* {
    margin: 0px;
    padding: 0px;
  }
  
  html {
    padding: 0px;
    margin: 0 auto;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4 {
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  img {
    width: 100%;
    display: block;
  }
  
  ul {
    list-style: inside none;
  }
  
  a:hover,
  a {
    text-decoration: none;
  }
  
  header {
    padding-top: 40px;
  }
  
  .header-row {
    position: relative;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .toggle-menu {
    padding: 5px 16px;
    line-height: 25px;
    font-size: 2.5rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .nav-search {
    display: block;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }
  
  input[type="checkbox"]:checked ~ .nav-search {
    height: 276px;
  }
  
  .menu ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .menu ul li {
    font-size: 1.6rem;
    text-align: center;
    margin: 12px 16px;
  }
  
  .menu ul li a:hover {
    color: #f55253;
  }
  
  .menu ul li a {
    display: block;
    color: #666;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 8px 0;
    line-height: 16px;
  }
  
  .menu li:first-child > a {
    color: #f55253;
  }
  
  .nav-search .search__wrap {
    text-align: center;
    margin-top: 5px;
  }
  
  .search-items {
    width: fit-content;
    margin: 0 auto;
    border-radius: 4px;
  }
  
  .search-icon {
    font-size: 1.6rem;
    margin: 0 5px 0 20px;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .search-items input[type="text"] {
    outline: none;
    border: none;
    font-size: 2rem;
    width: 180px;
    padding: 12px 0;
  }
  
  .search-items input[type="text"]::placeholder {
    font-size: 1.5rem;
    color: #666;
    line-height: 24px;
    font-weight: 600;
    padding: 10px 0;
  }
  
  .search-items input[type="text"]:focus::placeholder {
    color: #fff;
  }
  
  .search-cart {
    font-size: 2rem;
    padding: 1px 15px;
    color: rgba(0, 0, 0, 0.8);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
  }
  
  .search-cart::after {
    content: "2";
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 30px;
    color: #fff;
    background-color: #f54b4b;
    border-radius: 50%;
    top: -26px;
    right: -16px;
  }
  
  .section-one {
    margin: 60px 0 10px 0;
    padding-bottom: 40px;
    background-color: #fff;
  }
  
  .section-one__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .section-one_top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #fdecec;
    border-radius: 99px;
    margin-bottom: 20px;
  }
  
  .section-one_top span {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 16px;
    color: #f55556;
  }
  
  .section-one_top img {
    width: 26px;
    height: 24px;
    margin-left: 10px;
  }
  
  .section-one__content-text h1,
  .highlight {
    font-size: 3rem;
    line-height: 58px;
    font-weight: 700;
    color: #2e2e2e;
  }
  
  .highlight {
    font-weight: 500;
    color: #f54748;
    letter-spacing: -0.05em;
  }
  
  .section-one__content-text p {
    font-size: 1.4rem;
    max-width: 100%;
    color: #676767;
    margin: 22px 0;
    line-height: 30px;
  }
  
  .section-one__content__btn {
    margin: 50px 0 10px 0;
    width: 100%;
    text-align: center;
  }
  
  .section-one__content__btn .row {
    justify-content: center;
  }
  
  ._content_now_btn a {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 14px 10px;
    background-color: #f86061;
    border-radius: 12px;
    color: #fffafa;
    line-height: 20px;
    border: 1px solid transparent;
  }
  
  ._content_now_btn:hover a {
    border: 1px solid #f86061;
    background-color: #fffafa;
    color: #f86061;
  }
  
  ._content_process_btn {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    color: #2e2e2e;
    align-items: center;
    text-transform: capitalize;
    line-height: 20px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    height: 100%;
  }
  
  ._content_process_btn .play_btn {
    border-radius: 50%;
    -webkit-box-shadow: 0px 20px 49px -10px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 20px 49px -10px rgba(0, 0, 0, 0.08);
  }
  
  ._content_process_btn .play_btn img {
    width: 40px;
  }
  
  .section-two {
    padding: 50px 0;
    background-color: #fef5f5;
  }
  
  .service__heading {
    text-align: center;
  }
  
  .service__heading h3 {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    line-height: 24px;
    color: #f54748;
    margin-bottom: 8px;
  }
  
  .service__heading h2 {
    max-width: 100%;
    line-height: 44px;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    color: #2e2e2e;
    margin: 0 auto;
  }
  
  .service__list {
    margin: 60px 0 20px 0;
  }
  
  .service__item {
    position: relative;
  }
  
  .service__item-content {
    position: relative;
    z-index: 2;
    border-radius: 12px;
    background-color: #fff;
    padding: 30px 22px;
    margin: 10px 0;
  }
  
  .__item-content__icon img {
    width: auto;
    height: 60px;
    margin: 0 auto;
  }
  
  .__item-content__text {
    text-align: center;
    margin: 60px 0 10px 0;
  }
  
  .__item-content__text h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    line-height: 33px;
    color: #2e2e2e;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .__item-content__text p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #666;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .service__item-hover {
    position: absolute;
    left: 28px;
    width: 96%;
    height: 105%;
    background-color: #e66464;
    border-radius: 12px;
    z-index: 0;
    transform: rotate(0deg);
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
  
  .service__item:hover .service__item-hover {
    opacity: 1;
    left: 38px;
    top: -3px;
    transform: rotate(-3deg);
  }
  
  .section-three {
    padding: 50px 0;
  }
  
  .feature-content {
    text-align: center;
    margin: 80px 0 20px 0;
  }
  
  .feature-content h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  
  .feature-content .feature-1-title {
    color: #03a66b;
  }
  
  .feature-content .feature-2-title {
    color: #f9ba45;
  }
  
  .feature-content h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 44px;
    text-transform: capitalize;
    color: #2e2e2e;
    margin: 0 0 22px 0;
    max-width: 100%;
  }
  
  .feature-content p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 30px;
    color: #676767;
    max-width: 100%;
  }
  
  .feature-content .feature-btn {
    margin: 50px 0 20px 0;
  }
  
  .feature-content .feature-btn a {
    display: block;
    background: #f86061;
    border-radius: 12px;
    width: 180px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 18px 20px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 20px;
    border: 1px solid transparent;
    color: #fffafa;
    margin: 0 auto;
  }
  
  .feature-content .feature-btn:is(:hover, :active) a {
    border: 1px solid #f86061;
    background-color: #fffafa;
    color: #f86061;
  }
  
  .section-four {
    padding-bottom: 100px;
  }
  .section-five {
    padding: 50px 0;
    background-color: #fef5f5;
  }
  
  .cta-img img {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .cta-content {
    text-align: center;
    margin: 80px 0 20px 0;
  }
  
  .cta-content h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #f54748;
    margin-bottom: 8px;
  }
  
  .cta-content h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 44px;
    text-transform: capitalize;
    color: #2e2e2e;
    max-width: 100%;
    margin-bottom: 22px;
  }
  
  .cta-content p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    line-height: 30px;
    font-size: 1.4rem;
    max-width: 100%;
    color: #676767;
  }
  
  .cta-content .cta-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .app_btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 160px;
    font-size: 1.4rem;
    padding: 12px 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    line-height: 20px;
    color: #2e2e2e;
    border: 1px solid #eedcdc;
    border-radius: 12px;
  }
  
  .app_btn img {
    width: 44px;
    height: 44px;
  }
  
  footer {
    padding-top: 20px;
  }
  
  .footer-top {
    padding: 30px 0;
    text-align: center;
  }
  
  .footer-logo img {
    width: auto;
    margin: 0 auto;
  }
  
  .footer-left {
    margin: 20px 0;
  }
  
  .footer-left p {
    max-width: 100%;
    font-size: 1.4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    line-height: 26px;
    color: #676767;
    margin: 25px 0 10px 0;
  }
  
  .introduce .introduce-content {
    margin: 30px 0 10px 0;
  }
  
  .introduce .introduce-content h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 20px;
    color: #2e2e2e;
  }
  
  .introduce .introduce-content ul {
    margin: 30px 0 10px 0;
  }
  
  .introduce .introduce-content ul li a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    color: #676767;
  }
  
  .introduce .introduce-content p {
    margin: 30px 0 10px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 26px;
    color: #888888;
  }
  
  .footer-bottom {
    padding-bottom: 30px;
    text-align: center;
  }
  
  .copyright p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 24px;
    color: #8c8c8c;
  }
  
  .condition-privacy {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .condition-privacy a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: block;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 24px;
    color: #747474;
    margin: 0 10px;
  }
  
  .footer-lane {
    background-color: #ececec8a;
    margin: 10px 0 30px 0;
    height: 1px;
    border: none;
  }
  
  @media screen and (min-width: 576px) {
    .container {
      max-width: 540px;
    }
    /* End Header */
    ._content_now_btn {
      width: 160px;
    }
  
    ._content_now_btn a {
      font-size: 1.6rem;
      padding: 25px 20px;
    }
    ._content_process_btn .play_btn img {
      width: 100%;
    }
  
    ._content_process_btn {
      width: 200px;
      font-size: 1.6rem;
    }
    .cta-content .cta-btn {
      justify-content: flex-start;
      column-gap: 60px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      max-width: 720px;
    }
    .section-section-one {
      margin: 60px 0;
    }
  
    .section-one__content {
      align-items: flex-start;
      text-align: start;
    }
    .section-one__content__btn .row {
      justify-content: flex-start;
    }
    .section-two {
      padding: 100px 0;
    }
    .service__item-content {
      margin: 0;
    }
  
    .service__item-hover {
      width: 190px;
    }
    .feature-content {
      text-align: left;
      margin: auto;
    }
  
    .feature-content {
      margin: 100px 0 20px 0;
    }
    .feature-content h2 {
      max-width: 90%;
    }
    .feature-content .feature-btn a {
      margin-left: 0;
    }
    .section-five {
      padding: 100px 0;
    }
    .cta-content {
      text-align: left;
    }
    .cta-content h2 {
      max-width: 90%;
    }
    .cta-content p {
      font-size: 1.6rem;
      max-width: 90%;
    }
  
    .footer-wrap {
      padding-top: 50px;
    }
    .footer-bottom {
      text-align: left;
    }
    .condition-privacy {
      justify-content: flex-end;
    }
  }
  
  @media screen and (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  
    .search__wrap {
      padding: 20px;
    }
  
    .nav-search,
    input[type="checkbox"]:checked ~ .nav-search {
      display: flex;
      height: auto;
      width: auto;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      flex-basis: 70%;
    }
    .menu {
      flex: 1;
    }
    .menu ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  
    .toggle-menu {
      display: none;
    }
    .service__item-content {
      margin: 10px;
      padding: 40px 26px;
    }
    .service__item-hover {
      width: 252px;
    }
    .section-four {
      padding: 50px 0;
    }
    .feature_2 .row {
      flex-direction: row-reverse;
    }
    .cta-content .cta-btn {
      column-gap: 20px;
    }
    .footer-logo img {
      margin-left: 0;
    }
    .footer-left p {
      max-width: 95%;
    }
  
    .footer-top {
      text-align: left;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1320px;
    }
    .section-one__content-text h1,
    .highlight {
      font-size: 7.4rem;
      line-height: 88px;
    }
  
    .service__heading h3 {
      font-size: 18px;
    }
  
    .service__heading h2 {
      font-size: 4rem;
      line-height: 54px;
      max-width: 50%;
    }
    .service__item-content {
      margin: 20px;
      padding: 50px 30px;
    }
  
    .__item-content__text p {
      max-width: 90%;
    }
  
    .service__item-hover {
      height: 350px;
      width: 310px;
    }
    .feature-content h3 {
      font-size: 1.8rem;
    }
  
    .feature-content h2 {
      max-width: 75%;
      font-size: 4rem;
      line-height: 54px;
    }
    .feature-content .feature-2-title2 {
      max-width: 90%;
    }
  
    .feature-content p {
      font-size: 1.8rem;
      max-width: 70%;
    }
  
    .feature-content .feature-btn a {
      width: 200px;
      padding: 24px 20px;
      font-size: 2rem;
    }
    .cta-content h3 {
      font-size: 1.8rem;
    }
  
    .cta-content h2 {
      max-width: 80%;
      font-size: 4rem;
      line-height: 54px;
    }
    .cta-content p {
      font-size: 1.8rem;
      max-width: 80%;
    }
  
    .app_btn {
      font-size: 2rem;
      padding: 18px 2px;
    }
    .cta-content .cta-btn {
      column-gap: 20px;
    }
    .footer-left p {
      max-width: 70%;
    }
  }