@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Manrope', sans-serif;
}

body {
    background: url(../../IMG/b8/1.png);
}

ul {
    list-style: none;
}

header {
    display: flex;
    padding: 16px 48px;
    align-items: center;
    background-color: rgba(204, 204, 204, 0.781)
}

header h1 {
    flex-grow: 2;
}

header nav {
    flex-grow: 1;
}

.fa-chevron-down {
    font-size: 12px;
    padding-left: 8px;
    cursor: pointer;
}

.nav-content {
    display: flex;
    justify-content: space-around;
}

.nav-items a {
    color: rgb(44, 44, 44);
    padding: 24px 0;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

a:visited {
    color: rgb(44, 44, 44);
}

.fa-circle-info, .fa-magnifying-glass {
    font-size: 24px;
    color: rgb(44, 44, 44);
    cursor: pointer;
}

.mega-menu {
    font-weight: 700;
    position: absolute;
    display: none;
    left: 100px;
    top: 69px;
    width: 90%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 8px #000;
    color: rgb(44, 44, 44);
}

.left-menu {
    width: 33%;
    height: 100%;
    padding: 35px;
}

.right-menu {
    width: 67%;
    height: 100%;
    padding: 35px;
}

.usage-tab, .styleguide-tab, .elements-tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 18px;
}

.styleguide-items, .usage-items, .elements-items {
    padding-bottom: 5px;
}

.styleguide-items a, .usage-items a, .elements-items a{
    text-decoration: none;
}

.usage-tab-content span, .styleguide-tab-content span, .elements-tab-content span {
    display: block;
    margin-bottom: 10px;
}

.nav-items:hover .mega-menu {
    display: flex;
}

.elements-tab::before {
    content: "";
    position: absolute;
    display: inline-block;
    height: 300px;
    top: 33px;
    left: 566px;
    width: 2px;
    background-color: #ccc;
}